MRI_NN/data_sets
MRI_NN/env
MRI_NN/U_Net_Licence/checkpoints
MRI_NN/U_Net_Licence/model_checkpoint.pth
MRI_NN/CNN_NET/model_checkpoint.pth
MRI_NN/CNN_NET/checkpoints
MRI_NN/Seg_NET/checkpoints
MRI_NN/Seg_NET/model_checkpoint.pth
MRI_NN/Seg_NET/checkpoints_basic
MRI_NN/Seg_NET/model_checkpoint_basic.pth
MRI_NN/FCN_NET/checkpoints
MRI_NN/FCN_NET/model_checkpoint.pth
MRI_NN/DeeplabV3/checkpoints
MRI_NN/DeeplabV3/model_checkpoint.pth
preprocessing_tests/env
MRI_NN/U_Net++/model_checkpoint.pth
MRI_NN/U_Net++/unetplusplus_final.pth
MRI_NN/U_Net++/checkpoints
MRI_NN/U_Net++/unetplusplus_supervised_final.pth
MRI_NN/U_Net++/checkpoints_supervised

saves/U_Net++/checkpoints
saves/U_Net++/checkpoints_supervised
saves/U_Net++/unetplusplus_supervised_final.pth
saves/U_Net++/unetplusplus_final.pth
saves/U_Net++/model_checkpoint.pth

saves/U_Net_Licence/checkpoints
saves/U_Net_Licence/model_checkpoint.pth